/Implementation/Build
/Implementation/Build/Logs/ProcessPuzzle.log
/Implementation/DomainTier/Binaries
/Implementation/DomainTier/Binaries/com
/Implementation/DomainTier/Binaries/hu
/Implementation/DomainTier/Binaries/.gitignore
/Implementation/DomainTier/Build
/Implementation/DomainTier/Logs
