/Deployment/Distribution/
/Implementation/Build/local.build.properties
/Implementation/Build/Logs/ProcessPuzzle.log
/Implementation/DomainTier/Binaries/
/Implementation/DomainTier/Build/Binaries
/Implementation/DomainTier/Build/Distribution
/Implementation/DomainTier/Build/Libraries
/Implementation/DomainTier/Build/Logs
/Implementation/DomainTier/Build/Reports
/Implementation/DomainTier/Build/Temp/
/Implementation/DomainTier/Build/build.num
/Implementation/DomainTier/Build/local.build.properties
/Implementation/DomainTier/Configuration/hsqlrun.bat
/Implementation/DomainTier/Configuration/log4j.properties
/Implementation/DomainTier/Configuration/toolrun.bat
/Implementation/DomainTier/lib
/Implementation/DomainTier/Logs/ProcessPuzzle.log
/Implementation/WebTier/.settings
/Implementation/WebTier/Binaries/
/Implementation/WebTier/Build/Distribution/
/Implementation/WebTier/Build/Libraries/
/Implementation/WebTier/Build/Logs/
/Implementation/WebTier/Build/Reports/
/Implementation/WebTier/Build/Temp/
/Implementation/WebTier/Build/build.num
/Implementation/WebTier/Build/local.build.properties
/Implementation/WebTier/Configuration/log4j.properties
/Implementation/WebTier/lib
/Implementation/WebTier/Logs/ProcessPuzzle.log
/Implementation/WebTier/TEST-net.jsunit.StandaloneTest.xml
