package hu.itkodex.litest.testcase;

import hu.itkodex.litest.fixture.FitTestPersistentFreshFixture;

import org.junit.Test;
import static org.junit.Assert.*;
import static org.hamcrest.Matchers.*;

public class FitTestSuiteWithPersistentFreshFixture extends GenericTestSuite<TestSUT, FitTestPersistentFreshFixture> {
   private static final String FIXTURE_CONTAINER_PATH = null;

   public FitTestSuiteWithPersistentFreshFixture() {
      super( FIXTURE_CONTAINER_PATH );
   }
}